{% extends "base/base.html" %}
{% block style %}{% endblock style %}
{% block content %}
<h1>Login form for Seller</h1>
<form method="POST">
    {% csrf_token %}
    <label for="username">
        Username:
        <input name="username" id="username" type="username"  />
    </label>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <label for="password">
        Password:
        <input name="password" id="password" type="password" />
    </label>
    <button>SAVE</button>

{% endblock content %}
{% block script %}{% endblock script %}