{% extends "base/base.html" %}
{% block style %}{% endblock style %}
{% block content %}
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">
        Name:
        <input type="text" name="name" id="name" value="{{ product.name }}" required />
    </label>
    <label for="description">
        Description:
        <textarea name="description" id="description" required>{{ product.description }}</textarea>
    </label>
    <label for="price">
        Price:
        <input type="number" name="price" id="price" value="{{ product.price }}" required />
    </label>
    <label for="quantity">
        Stock:
        <input type="number" name="quantity" id="quantity" value="{{ product.quantity }}" required />
    </label>
    <label for='category'>
        Category:
        <select name='category' id='category'>
            <option value="{{product.category.id}}"> {{product.category.name}} </option>
            {% for category in product.get_different_categories %}
            <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </label>
    {% for image in images %}
    <img src="{{ image.image.url }}" alt="Product Image" style="width: 500px; display:block; margin:20px" />
    <div onclick="del({{image.id}})">Delete</div>
    {% endfor %}
    <label for="images">
        Add Image:
        <input type="file" name="images" id="images" accept="image/*" multiple />
    </label>
    <button type="submit">Update Product</button>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
</form>
{% endblock content %}
{% block script %}
<script >
function del(product_image_id){
    if (confirm("Are you sure you want to delete this image?")) {
        fetch(`/delete_product_image/${product_image_id}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCSRFToken(),
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Image deleted successfully!');
                location.reload(); // Reload the page to see the changes
            } else {
                alert('Failed to delete the image.');
            }
        }).catch(error => {
            console.error('Error:', error);
            alert('An error occurred while deleting the image.');
        });
    }
}
</script>
{% endblock script %}