{% extends "base/base.html" %}
{% load static %}
{% block style %}
{% endblock style %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="old-password">Old password</label>
    <input type="password" id="old-password" name="old-password" />
    <label for="new-password">New password</label>
    <input type="password" id="new-password" name="new-password" />
    <label for="confirm-password">Confirm password</label>
    <input type="password" id="confirm-password" name="confirm-password" />
    <button type="submit"></button>
    {% if error %}
    <p id="error" style="color:red;">
        {{error}}    
    </p>
    {% endif %}
</form>
{% endblock content %}
{% block script %}

{% endblock script %}